@import '../../_css/common';

.card  {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.addToCartButton {
  position: absolute !important;
}

.content {
  padding: calc(var(--base) / 2) var(--base) var(--base) 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);

  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}

.title {
  margin: 0;
}

.titleLink {
  text-decoration: none;
}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
}

.priceActions {
  gap: var(--base);
}

.price {
  width: 100%;
  color: red;
  font-weight: 600;
  margin: 0;
}

.button {
  margin-top: 30px;
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);
}

.description {
  margin: 0;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.mediaWrapper {
  background: #f4f4f4;
  padding: calc(var(--base) / 2) calc(var(--base) / 2) 0 calc(var(--base) / 2);
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 16 / 9;
}

.image {
  position: relative !important;
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}
