@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  position: sticky;
  top: 0;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.6);
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 200px;
}

:global([data-theme="dark"]) {
  .header {
    background: transparent;
  }
  .logo {
    //filter: invert(1);
  }
}
