@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  position: sticky;
  top: 0;
  z-index: 999999;

   .logo {
    svg {
      width: calc(var(--base) * 9);
      path:nth-child(2) {
        stroke: black;
      }

      path:nth-child(3) {
        fill: #BE1E2D;
      }

      path:nth-child(4) {
        fill: #70A578;
      }
    }
   }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

:global([data-theme="dark"]) {
  .header {
    background: #141414;
    .logo {
      svg {
        path:nth-child(1) {
          fill: white;
        }
      }
    }
  }
}

:global([data-theme="light"]) {
 .header {
  background: white;
  .logo {
    svg {
      path:nth-child(1) {
        fill: black;
      }
    }
  }
 }
}
