@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  svg {
    fill: none;
    stroke-width: 1px;
  }

  > * {
    text-decoration: none;
  }

  a {
    font-family: 'Roboto Mono', monospace !important;
    border-radius: 0;
    text-transform: uppercase !important;
    font-size: 14px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #bd1e2d;
      visibility: hidden;
      will-change: visibility;
      transition: 300ms ease-out;

    }

    &:hover {
      &::after {
        width: 100%;
        visibility: visible;
      }
    }
  }

  .icon {

    &:after {
      display: none;
    }
  }
}

:global([data-theme="dark"]) {
  .nav {
    svg {
      stroke: white;
    }
  }

}

:global([data-theme="light"]) {
  .nav {
    svg {
      stroke: #141414;
    }
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}
